.main-container{
  background-image: url(./Assets/Images/Rectangle\ 1.png);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}